<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Navegación      
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getRouteInfo()">
        <ion-icon name="map"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text-center"
    style="bottom: 10px; position: absolute; width: 60%; z-index: 10;padding: 0 10px; margin-left: 0;">
    <ion-button (click)="navigationInitialized?stopNavigation():initNavigation()" class="c-navigation-button">
      <div>
        <ion-label>
          <ion-icon style="font-size: 250%;" [name]="navigationInitialized?'square':'navigate'"></ion-icon>
        </ion-label><br>
        <ion-label style="font-size: 120%;">{{navigationInitialized?'Detener':'Iniciar'}}</ion-label><br>
        <ion-label style="font-size: 70%;">Navegación</ion-label>
      </div>
    </ion-button>
  </div>

  <div id="tracking-map">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="getLocation()" size="small">
        <ion-icon class="c-location-icon" name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <ion-fab vertical="top" *ngIf="!navigationInitialized" horizontal="end" style="top:80px" slot="fixed">
      <ion-fab-button (click)="refresh()" size="small">
        <ion-icon class="c-location-icon" name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </div>
</ion-content>
<ion-footer>
  <h3>Posición: {{selectedStep?.position}}</h3>
  <div [innerHTML]="selectedStep?.htmlInstructions"></div>
</ion-footer>