<ion-header [translucent]="true" class="ion-padding-vertical">
  <ion-toolbar *ngIf="!navigationInitialized">
    <ion-title>
      Navegación      
    </ion-title>
    <ion-item>
      <ion-label>Origen:</ion-label>
      <ion-input [(ngModel)]="origin" placeholder="lat,lng"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Destino:</ion-label>
      <ion-input [(ngModel)]="destination" placeholder="lat,lng"></ion-input>
    </ion-item>
    <!-- <div [innerHTML]="selectedStep?.htmlInstructions"></div> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [innerHTML]="selectedStep?.htmlInstructions"></div>
  <!-- <div class="text-center"
    style="bottom: 10px; position: absolute; width: 60%; z-index: 10;padding: 0 10px; margin-left: 0;">
    <ion-button (click)="navigationInitialized?stopNavigation():initNavigation()" class="c-navigation-button">
      <div>
        <ion-label>
          <ion-icon style="font-size: 250%;" [name]="navigationInitialized?'square':'navigate'"></ion-icon>
        </ion-label><br>
        <ion-label style="font-size: 120%;">{{navigationInitialized?'Detener':'Iniciar'}}</ion-label><br>
        <ion-label style="font-size: 70%;">Navegación</ion-label>
      </div>
    </ion-button>
  </div> -->

  <div id="tracking-map">
    <ion-fab vertical="top" horizontal="end" >
      <!-- <ion-fab-button (click)="getRouteInfo()" size="small" [disabled]="origin=='' || destination == ''">
        <ion-icon class="" name="map"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button (click)="goToPosition()" size="small">
        <ion-icon class="" name="locate"></ion-icon>
      </ion-fab-button> 
      <ion-fab-button (click)="initFollowMarker()" size="small">
        <ion-icon class="" [name]="followMarker?'unlink-outline':'link-outline'"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getRouteInfo()" size="small">
        <ion-icon name="trending-up-outline"></ion-icon>
      </ion-fab-button>     
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" >
      <ion-fab-button (click)="navigationInitialized?stopNavigation():initNavigation()" size="small">
        <ion-icon class=""[name]="navigationInitialized?'square':'navigate'"></ion-icon>
      </ion-fab-button> 
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" >
      <ion-fab-button size="small" (click)="zoomIn()">
        <ion-icon class=""name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="zoomOut()">
        <ion-icon class=""name="remove-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- <ion-fab vertical="top" *ngIf="!navigationInitialized" horizontal="end" style="top:80px" slot="fixed">
      <ion-fab-button (click)="refresh()" size="small">
        <ion-icon class="" name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </div>
</ion-content>
<!-- <ion-footer>
  <h3>Posición: {{selectedStep?.position}}</h3>
  <div [innerHTML]="selectedStep?.htmlInstructions"></div>
</ion-footer> -->