#tracking-map {
  height: 100%;
}

.c-navigation-button{
  color:#fff;
  --border-radius:50%;
  text-transform: capitalize;
  // --background: var(--dark-pers);
  font-weight: bold;
  height: 100px;
  width: 100px;
  text-align: center;
}